@model HomeModel
@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo,@Model.Nome ao</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Meu Primeiro Projeto em C#</a>.</p>
    <span>Seu email é: @Model.Email</span>
</div>
