@model HomeModel
@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Sistema de controle de contatos</a>.</p>
    
</div>
