@{
    ViewData["Title"] = "Apagar Contato";
}
<h1 class="text-center">Deseja apagar o contato?</h1>

<div class="btn-group text-center mx-auto">
    <a role="button" class="btn btn-primary active"
       asp-controller="Contato" asp-action="EditarContato">Sim</a>
    <a role="button" class="btn btn-danger"
       asp-controller="Contato" asp-action="ApagarContato">Cancelar</a>
</div>